node_modules/*
__pycache__/*
codes/xmla/__pycache__/*
codes/classes/__pycache__/*
package-lock.json
imports/*
xml/users/*
!xml/users/notempty
xml/orders/*
!xml/orders/notempty
xml/preorders/*
!xml/preorders/notempty
xml/products/*
!xml/products/notempty
!imports/notempty
static/pics/*
!static/pics/notempty
.vs/
yarn.lock
bottleenv/*
tests/pytest/__pycache__/*
